body {
  font-family: 'Poppins', sans-serif;
}

.field {
  display: flex;
  flex-direction: column;
}
.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.label {
  padding-left: 10px;
}
